body, html {
    height: 100%;
  }
  
  .bg { 
    /* The image used */
    background-image:url(image/head_bg.jpg);
  
    /* Full height */
    height: 100%; 
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bg-main
  {
    background-image:url(image/content_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%; 
    text-align: center;
  }
  